* {
  margin: none;
  padding: none;
  box-sizing: border-box;
}

@font-face {
  font-family: "Architects Daughter";
  src: url(../fonts/Architects_Daughter/ArchitectsDaughter-Regular.ttf);
}

body {
  font-family: "Architects Daughter";
  background: rgba(11, 14, 158, 0.494);
  color: rgb(255, 255, 255);
}

#happy-birthday {
  text-decoration: underline wavy rgb(255, 165, 0);
}

ol,
ul {
  font-size: large;
  list-style-position: inside;
}

.poem {
  font-size: 50px;
}

.footer {
  background: url(https://th.bing.com/th/id/OIP.GkMD2FBlCrgUQjlEvqLGtwHaH8?pid=Api&rs=1);
  color: black;
}

#poem {
  text-decoration: underline;
}