* {
  margin: none;
  padding: none;
  box-sizing: border-box;
}

@font-face {
  font-family: "Architects Daughter";
  src: url(../fonts/Architects_Daughter/ArchitectsDaughter-Regular.ttf);
}

body {
  font-family: "Architects Daughter";
  background: rgba(11, 14, 158, 0.494);
  color: rgb(255, 255, 255);
}

#happy-birthday {
  text-decoration: underline wavy rgb(255, 165, 0);
}

ol,
ul {
  font-size: large;
  list-style-position: inside;
}

.poem {
  font-size: 50px;
}

.footer {
  background: url(https://th.bing.com/th/id/OIP.s07ySHJrRSvCHNPKMvBgywHaDL?pid=Api&rs=1);
  color: black;
}

#poem {
  text-decoration: underline;
}

table {
  background: rgb(95, 45, 211);
  border-radius: 25%;
  font-size: 1.6rem;
  padding: 5rem;
  border-spacing: 10;
}

button {
  color: white;
  background-color: blue;
  border-radius: 25%;
  padding: 1rem;
  box-shadow: 0 2rem 2em -0.4em black;
}

button:hover {
  background-color: magenta;
  border-radius: 34% / 876%;
  transform: translateX(10px) rotateZ(10deg) translateY(10%) scale(0.8);
  box-shadow: 0 1em 1em -0.4em black;
  transition: 2s;
}

#balloon {
  border: black 0.3rem dotted;
  border-radius: 37% / 37%;
}
